@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
main .card {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 360px;
  height: 550px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5em;
  box-shadow: 0px 10px 15px hsla(0, 0%, 10%, 0.1);
}

img {
  width: 325px;
  border-radius: 0.5em;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.5rem;
}

p {
  color: hsl(220, 15%, 55%);
}