* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video {
  position: fixed;
  z-index: -1;
  width: 100vw;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main .card {
  width: 350px;
  height: 550px;
  background-color: #00171f;
  border-radius: 0.5em;
  filter: opacity(0.7);
}

@media (max-width: 1096px) {
  video {
    width: unset;
  }
}