// Font
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

// Variables
$background: hsl(212, 45%, 89%);
$card-color: hsl(0, 0%, 100%);
$paragraph-color: hsl(220, 15%, 55%);
$title-color: hsl(218, 44%, 22%);

// A simple reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Styling content
body {
    background-color: $background;
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .card {
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        width: 360px;
        height: 550px;
        background-color: $card-color;
        border-radius: 1.5em;
        box-shadow: 0px 10px 15px hsla(0, 0%, 10%, 0.100);
    }
}

img {
    width: 325px;
    border-radius: 0.5em;
}

h1 {
    color: $title-color;
    font-size: 1.5rem;
}

p {
    color: $paragraph-color;
}
